:root {
  --ifm-color-primary: #6c63ff;
  --ifm-color-primary-dark: #5a50ff;
  --ifm-color-primary-darker: #4e43ff;
  --ifm-color-primary-darkest: #2f23ff;
  --ifm-color-primary-light: #7e76ff;
  --ifm-color-primary-lighter: #8a83ff;
  --ifm-color-primary-lightest: #aca7ff;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #8a83ff;
  --ifm-color-primary-dark: #6e65ff;
  --ifm-color-primary-darker: #6058ff;
  --ifm-color-primary-darkest: #3428ff;
  --ifm-color-primary-light: #a6a1ff;
  --ifm-color-primary-lighter: #b4afff;
  --ifm-color-primary-lightest: #d8d6ff;
}
